<!DOCTYPE html>
<html lang="en">
 
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Add Student</title>
</head>

<body class="bg-secondary">

<center>
<div class="card text-bg-dark mx-5 my-3">
    <h1 class="py-5">Add Student</h1>
  </div>

  <div class="card text-bg-dark mx-5 my-5 mx-auto" style="width: 500px;">
    <form action="{% url 'add' %}" method="post">
       {% csrf_token %}
        <div class="mb-3 mt-4">
          <label for="first-name" class="form-label">First Name</label>
          <input type="text" class="my-4 mx-3 px-2 py-1" id="first-name" name="first-name">
        </div>

        <div class="mb-3">
            <label for="last-name" class="form-label">Last Name</label>
            <input type="text" class="mb-4 mx-3 px-2 py-1" id="last-name" name="last-name">
        </div>

        <div class="mb-3">
            <label for="phone" class="form-label">Phone No.</label>
            <input type="text" class="mb-4 mx-3 px-2 py-1" id="phone" name="phone" maxlength="10">
        </div>
      
        <input type="submit" value="Save" class="btn btn-primary mb-4 px-5">
       <!-- <button type="button" class="btn btn-primary mb-4 px-5">Save -->
      </form>
  </div>
</center>

</body>
</html>